html,
body {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    background: #1e1e1e;
    overflow: hidden;
}

body * {
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    transition: 0.5s;
}

body>#root {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #1e1e1e;
    position: absolute;
}

body>#root>.page {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.nv {
    display: none;
}

.style-0 {
    margin: 10px;
    width: 250px;
    aspect-ratio: 3/4;
    background-color: var(--fourth);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(80,80,80, 0.5);
    outline: 1px solid white;
}

.style-1 {
    margin: 10px;
    width: 100%;
    color: var(--primary);
    font-size: 2rem;
}

.style-2 {
    width: 100%;
}

.style-3 {
    background-color: var(--primary);
}

.style-4 {
    margin: 10px;
    padding: 10px;
    width: 100dvw;
    font-size: 3rem;
    color: var(--fourth);
}

.style-5 {
    margin: 20px;
    width: 200px;
    height: 40px;
    background-color: var(--third);
    color: var(--primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.style-0:hover {
    background-color: var(--second);
    scale: 1.05;
    outline: none;
}

.style-5:hover {
    background-color: black;
    outline: 2px solid white;
}